<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: `${currentMember.member_name}`}) %>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div>
        <h2 class="members"><%= currentMember.member_name %></h2>
        <section>
            <p><strong>My Membership:</strong> <%= `${currentMember.membership_type}` %></p>
            <p><strong>My Groups:</strong> <%= `${currentMember.member_groups}`%></p>
            <p><strong>My Events</strong> <%= `${currentMember.court_reservation}` %></p>
            <p><strong>My Court Reservations</strong> <%= `${currentMember.event_reservation}` %></p>
            <p><strong>Edit My Account</strong><a href="/members/<%= currentMember._id %>/edit">Edit</a></p>
            <p><strong>Delete My Account</strong>
                <form action="/members/<%= currentMember._id %>?_method=DELETE" method="post">
                    <input type="submit" value="DELETE"/>
                </form>
            </p>
        </section>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>

</html>