<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: `${court.club_name}`}) %>
    <link rel="stylesheet" href="/../public/CSS/index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    timeslots.forEach(timeslot)
    <div>
        <img src="<%= court.img %>"/ style="width: 250px; height: 250px"></br>
        <h2 class="court"><%= court.club_name %></h2>
        <section>
            <p><strong>Description:</strong> <%= `${court.court_description}. Zip code = ${court.zip_code}` %></p>
            <p><strong>Amenities:</strong> <%= `The court is ${court.court_type}. It has ${court.amenities_available} and is ${court.court_accesibility}`%></p>
            <p><strong>Scheduling policy</strong> <%= `${court.court_scheduling_policy}. The reservation fees are ${court.reservation_fees} and is costs ${court.cancellation_fees} to cancel the reservation` %></p>
            <a href="/reservation/<%=court._id%>">Reserve a spot</a> 
            
        </section>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>

</html>